<% unless matching_flights.nil?  %>
  <%= "No matching flights" if matching_flights.empty? %>

  <%= form_with url: new_booking_path, method: :get do |form| %>
    <ul class="matching-flights">
      <% matching_flights.each do |flight| %>
        <li class="flight">
          <%= form.radio_button :flight_id, flight.id %>
          <%= form.label :flight_id, "Flight #{flight.id} details:" %>
          <%= render partial: "flight", locals: {flight: flight}%>
        </li>
      <% end %>
    </ul>
    <%= form.hidden_field :num_tickets, value: params[:num_tickets] %>
    <%= form.submit "Select" %>
  <% end %>
<% end %>
