<%= form_with url: flights_path, method: :get,
  data: {turbo_frame: "matching_flights",
         turbo_action: "advance"} do |form| %>
  <%= form.fields_for :search do |search_form| %>
    <div>
      <%= search_form.label :departure_code %>
      <% departure_code = params[:search].nil? ? "" : params[:search][:departure_code] %>
      <%= search_form.select :departure_code, @flights.departure_codes, 
                                              selected: departure_code %>
    </div>
    <div>
      <%= search_form.label :arrival_code %>
      <% arrival_code = params[:search].nil? ? "" : params[:search][:arrival_code] %>
      <%= search_form.select :arrival_code, @flights.arrival_codes,
                                            selected: arrival_code %>
    </div>
    <div>
      <%= search_form.label :date %>
      <% date = params[:search].nil? ? "" : params[:search][:date] %>
      <%= search_form.select :date, @flights.distinct_depart_dates,
                                    selected: date %>
    </div>
  <% end %>
  <div>
    <%= form.label :num_tickets %>
    <%= form.select :num_tickets, (1..4).to_a %>
  </div>
  <%= form.submit "Search" %>
<% end %>

<div>
  <%= render "matching_flights", matching_flights: @matching_flights %>
</div>
