<form action="" method="get" accept-charset="UTF-8">
  <h1>Search for flight</h1>
  <div>
    <label for="departure_code">Departure airport</legend>
    <select name="departure_code"
            id="departure_code"
            autocomplete="off"
            required>
      <%= @flights.departure_codes.each do |departure_code| %>
        <option value="<%= departure_code %>"><%= departure_code %></option>
      <% end %>
    </select>
  </div>
  <div>
    <label for="arrival_code">Arrival airport</legend>
    <select name="arrival_code"
            id="arrival_code"
            autocomplete="off"
            required>
      <%= @flights.arrival_codes.each do |arrival_code| %>
        <option value="<%= arrival_code %>"><%= arrival_code %></option>
      <% end %>
    </select>
  </div>
  <div>
    <label for="num_tickets">Number of passengers</legend>
    <select name="num_tickets" id="num_tickets" autocomplete="off" required>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </div>
  <div>
    <label for="date">Depart</legend>
    <select name="date" id="date" autocomplete="off" required>
      <%= @flights.distinct_depart_dates.each do |date| %>
        <option value="<%= date %>"><%= date %></option>
      <% end %>
    </select>
  </div>
  <input type="submit" value="Search" data-disable-with="Search">
</form
