<h2>Create Booking</h2>

<%= "Flight #{@flight.id} details:" %>
<%= render partial: "flights/flight", locals: {flight: @flight}%>
<%= form_with model: @booking do |form| %>
  <%= form.hidden_field :flight_id, value: @flight.id %>
  <ul data-controller="dynamic-form">
    <%= form.fields_for :passengers, child_index: "RECORD_INDEX" do |passengers_form| %>
      <template data-dynamic-form-target="template">
        <li>
          <%= passengers_form.label :name %>
          <%= passengers_form.text_field :name %>

          <%= passengers_form.label :email %>
          <%= passengers_form.email_field :email %>

          <button type="button" data-action="dynamic-form#remove">Remove Passenger</button>
        </li>
      </template>
    <% end %>
    <%= form.fields_for :passengers do |passengers_form| %>
      <li>
        <%= passengers_form.label :name %>
        <%= passengers_form.text_field :name %>

        <%= passengers_form.label :email %>
        <%= passengers_form.email_field :email %>


        <button type="button" data-action="dynamic-form#remove">Remove Passenger</button>
      </li>
    <% end %>
    <div data-dynamic-form-target="target"></div>
    <button type="button" data-action="dynamic-form#add">Add Passenger</button>
  </ul>
  <%= form.submit %>
<% end %>
